<div class="modal">
    <ion-header-bar>
        <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="{{optionName}}" ng-model="currentSelect.text_input">
        </label>
        <button class="button button-small button-stable" ng-click="closeModal()">取消</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
        <ion-radio ng-model="ngKey" ng-value="" ng-click="selectedClick('')">请选择</ion-radio>
        </ion-list>
        <ion-list ng-repeat="ite in curSelList">
            <!--ng-model没用，前端不变化？？？-->
            <ion-radio ng-model="currentSelect.key" ng-value="{{ite.key}}" ng-click="selectedClick(ite)">
            {{ite.value}}</ion-radio>
        </ion-list>
    </ion-content>
</div>