<!-- 工单修改页面“完成”按钮弹出层-->
<div class="modal">
    <ion-content overflow-scroll="false" has-bouncing="true" lazy-scroll>
        <div class="list mt35">
            <label class="item item-input">
                <span>完成时间</span>
                <label class=" item-input-inset ml10">
                    <label class="item-input-wrapper time-label">
                    <input type="text" class="time-label text-label" mydatepicker ng-model="service.complete_at_date" after="true" placeholder="选择日期" readOnly="true">
                    </label> &nbsp;&nbsp;&nbsp;
                    <label class="item-input-wrapper time-label">
                    <input type="text" class="time-label text-label" mytimepicker ng-model="service.complete_at_time" placeholder="选择时间" readOnly="true">
                    </label>
                </label>
            </label>
            <div>
                <span class="button-bar w_100"><span class="ml16 fs17 mt5">出厂编码-{{service.qr_code.length}}</span>
                <input type="text" class="text-label w_80 ml10" ng-model="service.qr_code" placeholder="请输入出厂编码">
                <a class="button button-small button-positive mt5 icon ion-qr-scanner" ng-click="scan('qr',0)"></a>
                </span>
            </div>
            <label class="item item-input">
                发票号<input type="text" class="text-label w_100 ml10" ng-model="service.invoice" placeholder="请输入发票号">
            </label>
            <div>
                <span class="button-bar w_100"><span class="ml16 fs17 mt5">外机条码-{{service.extend1.length}}</span>
                <input type="text" class="text-label w_80 ml10" ng-model="service.extend1" placeholder="请输入外机条码">
                <a class="button button-small button-positive mt5 icon ion-qr-scanner" ng-click="scan('e',1)"></a>
                </span>
            </div>

            <label class="item item-input">
                <span>维修措施</span><textarea rows="2" cols="2" class=" text-label w_100 ml10" ng-model="service.result" placeholder="请输入维修措施"></textarea>
            </label>
            <label class="item item-input">
                服务费<input type="number" class=" text-label w_100 ml10" ng-model="service.fee" placeholder="请输入服务费">
            </label>
            <label class="item item-input">
                上门费<input type="number" class=" text-label w_100 ml10" ng-model="service.road_fee" placeholder="请输入上门费">
            </label>
            <label class="item item-input">
                材料费<input type="number" class=" text-label w_100 ml10" ng-model="service.item_fee" placeholder="请输入材料费">
            </label>
            <label class="item item-input">
                远程费<input type="number" class=" text-label w_100 ml10" ng-model="service.remote_fee" placeholder="请输入远程费">
            </label>
            <label class="item item-input">
                搬运费<input type="number" class=" text-label w_100 ml10" ng-model="service.carry_fee" placeholder="请输入搬运费">
            </label>
            <label class="item item-input">
                其他费用<input type="number" class=" text-label w_100 ml10" ng-model="service.other_fee_s" placeholder="请输入其他费用">
            </label>
            <label class="item item-input">
                实收金额<input type="number" class=" text-label w_100 ml10" ng-model="service.fact_fee" placeholder="请输入实收金额">
            </label>
            <label class="item item-input">
                <span>备注</span><textarea class="text-label w_100 ml10" ng-model="service.remark"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <br>
        <p></p>
        <div class="button-bar fs17">
        <a class="button button-clear" ng-click="ok()">确定</a>|
        <a class="button button-clear" ng-click="closeModal()">取消</a>
        </div>
        <p></p>
        <br>
    </ion-footer-bar>
</div>