<ion-view title="待提交工单" ng-controller="ServiceFailListCtrl" style="margin-top: 50px;">
  <ion-content overflow-scroll="true">
    <ion-list>
      <ion-item ng-repeat="service in servicelist">
        <button class="button button-block button-calm" ng-click="servicemodify(service)">
          <table class="lh25" style="width:100%;color:#FFF;">
            <tr>
              <td>维修状态：</td>
              <td><span trans-state="{{service.state}}"></span></td>
            </tr>
            <tr>
              <td>维修单号：</td>
              <td>{{service.service_id}}</td>
            </tr>
            <tr>
              <td>客户姓名：</td>
              <td>{{service.user_name}}</td>
            </tr>
            <tr>
              <td>客户地址：</td>
              <td>{{service.user_address}}</td>
            </tr>
            <tr>
              <td>受理时间：</td>
              <td>{{service.create_at}}</td>
            </tr>
            <tr>
              <td>预约时间：</td>
              <td>{{service.order_at}}</td>
            </tr>
            <tr>
              <td>派单时间：</td>
              <td>{{service.dispatch_at}}</td>
            </tr>
          </table>
        </button>
      </ion-item>
            
    </ion-list>
  </ion-content>
</ion-view>

