<ion-view title="待提交工单" ng-controller="ServiceFailDetailCtrl">

  <ion-content overflow-scroll="false" has-bouncing="true">

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.orderFlag,'ion-chevron-right':!flags.orderFlag}"
      ng-click="flagChange('o')">
      <i class="ion-briefcase"></i>&nbsp;工单信息
    </button>
    <ion-list ng-if="flags.orderFlag">
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">单号：</span>{{service.service_id}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">工单来源：</span>{{service.source}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">客户姓名：</span>{{service.user_name}}
      </label>
      <div class="item item-input item-stacked-label">
        <span class="input-label text-label">来电电话：</span>{{service.call_caller}}
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label text-label">客户电话：</span>{{service.user_tel}}
      </div>
      <div class="iteitem item-input item-stacked-labelm">
        <span class="input-label text-label">回访号码：</span>{{service.callback_phone}}
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">客户地址：</span>{{service.user_address}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">问题描述：</span>{{service.content}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">备注：</span>{{service.user_remark}}
      </label>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.timeFlag,'ion-chevron-right':!flags.timeFlag}"
      ng-click="flagChange('t')">
      <i class="ion-clock"></i>&nbsp;时间信息
    </button>
    <ion-list ng-if="flags.timeFlag">
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">受理时间：</span>{{service.create_at}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">到达时间：</span>{{service.assigned_at}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">预约时间：</span>{{service.order_at}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">派单时间：</span>{{service.dispatch_at}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">购买日期：</span>{{service.buy_at}}
      </label>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.goodsFlag,'ion-chevron-right':!flags.goodsFlag}"
      ng-click="flagChange('g')">
      <i class="ion-cube"></i>&nbsp;产品信息
    </button>
    <ion-list ng-if="flags.goodsFlag">
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">产品品牌：</span>{{service.brand}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">产品品类：</span>{{service.category}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">产品型号：</span>{{service.model}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">生产批号：</span>{{service.production_code}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">出厂编码：</span>{{service.qr_code}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">购机商场：</span>{{service.shop}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">发票号：</span>{{service.invoice}}
      </label>
      <!--品类扩展信息 start-->
      <label class="item item-input item-stacked-label" ng-if="categoryExtend.extend1">
        <span class="input-label text-label">{{categoryExtend.extend1}}：</span>{{service.extend1}}
      </label>
      <label class="item item-input item-stacked-label" ng-if="categoryExtend.extend2">
        <span class="input-label text-label">{{categoryExtend.extend2}}：</span>{{service.extend2}}
      </label>
      <label class="item item-input item-stacked-label" ng-if="categoryExtend.extend3">
        <span class="input-label text-label">{{categoryExtend.extend3}}：</span>{{service.extend3}}
      </label>
      <label class="item item-input item-stacked-label" ng-if="categoryExtend.extend4">
        <span class="input-label text-label">{{categoryExtend.extend4}}：</span>{{service.extend4}}
      </label>
      <label class="item item-input item-stacked-label" ng-if="categoryExtend.extend5">
        <span class="input-label text-label">{{categoryExtend.extend5}}：</span>{{service.extend5}}
      </label>
      <!--品类扩展信息 end-->
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.stateFlag,'ion-chevron-right':!flags.stateFlag}"
      ng-click="flagChange('s')">
      <i class="ion-information-circled"></i>&nbsp;状态信息
    </button>
    <ion-list ng-if="flags.stateFlag">
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">维修性质：</span>{{service.property}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">状态：</span>{{service.subState}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">完成度：</span>{{service.process}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">故障现象：</span>{{service.appearance}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">故障原因：</span>{{service.fault_reason}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">维修措施：</span>{{service.result}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">处理结果：</span>{{service.result_type}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">维修项目：</span>{{service.project}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">维修费：</span>{{service.fee}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">路费：</span>{{service.road_fee}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label text-label">备注：</span>{{service.remark}}
      </label>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.itemFlag,'ion-chevron-right':!flags.itemFlag}"
      ng-click="flagChange('i')">
      <i class="ion-settings"></i>&nbsp;配件信息
    </button>
    <ion-list ng-if="flags.itemFlag">
      
      <div>
        <span class="ml17 fs17">已选配件</span>
        <ion-item ng-repeat="its in itemSelected">
          {{its.name}}{{its.mode}}&nbsp;编码:{{its.code}}({{its.price}}元/件,{{its.count}}件{{its.property}}{{its.sellchannel}})
        </ion-item>
      </div>

    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.pictureFlag,'ion-chevron-right':!flags.pictureFlag}"
      ng-click="flagChange('p')">
      <i class="ion-images"></i>&nbsp;上传图片
    </button>
    <ion-list ng-if="flags.pictureFlag">
      <span ng-if="newImages && newImages.length > 0">新上传图片</span>
      <div class="list card" ng-repeat="im in newImages">
        <div class="item item-image" style="height:100px;">
          <img class="image-loader-container" image-lazy-loader="android" ng-src="{{imageUrl}}{{ima.name}}{{imageParams}}">
        </div>
      </div>
      <!--
      <span ng-if="service.attachments && service.attachments.length > 0">原保留图片</span>
      <div class="list card" ng-repeat="ima in service.attachments">
        <div class="item item-image">
          <img style="height:150px;" ng-src="{{imageUrl}}{{ima.name}}{{imageParams}}" ng-click="shouBigImage(imageUrl+ima.name+imageParams,$index,0)">
        </div>
      </div>
      -->
    </ion-list>

    <br>
      
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
    <br>
    <div class="buttons">
      &nbsp;<button class="button" ng-click="cancel()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-assertive" ng-click="ok()">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>&nbsp;
    </div>
  </ion-footer-bar>
  

</ion-view>
