<!--图片弹出层 -->
<div class="modal" ng-if="imageModal" ng-controller="ImageSelectCtrl">
    <ion-content overflow-scroll="false" has-bouncing="true" lazy-scroll>
        <div class="list mt35">
            <div ng-include="'select_images.html'"></div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <br>
        <p></p>
        <div class="button-bar fs17">
        <a class="button button-clear" ng-click="ok(1)">提交</a>|
        <a class="button button-clear" ng-click="ok(2)">跳过</a>
        </div>
        <p></p>
        <br>
    </ion-footer-bar>
</div>
<!-- 图片加载页面 -->
<div ng-if="!imageModal" ng-include="'select_images.html'" ng-controller="ImageSelectCtrl"></div>


<script id="select_images.html" type="text/ng-template">
    <!--图片信息 start-->
    <div class="text-right">
        <a class="button button-assertive button-small" ng-click="clearImage()">清空图片</a>
    </div>
    <span class="calm">新上传图片</span>
    <div class="list card" ng-repeat="im in newImages">
        <div class="item item-image" style="height:100px;">
            <img class="image-loader-container" image-lazy-loader="android" ng-src="{{im.imageURI}}"  ng-click="shouBigImage(im.imageURI,$index,1)">
        </div>
        <a class="item item-icon-left assertive" ng-click="delImage($index)">
            <i class="icon ion-trash-a"></i> 删除
        </a>
    </div>
    <div class="list card">
        <div class="item item-image" style="height:100px;">
            <a ng-click="choosePicMenu()">
                <img class="image-loader-container" image-lazy-loader="android" src="img/add.jpg">
            </a>
        </div>
    </div>

    <span ng-if="oldImages && oldImages.length > 0" class="calm">原保留图片</span>
    <div class="list card" ng-repeat="ima in oldImages">
        <div class="item item-image" style="height:100px;">
            <img class="image-loader-container" image-lazy-loader="android" image-lazy-src="{{imageUrl}}{{ima.name}}{{imageParams}}" ng-click="shouBigImage(imageUrl+ima.name+imageParams,$index,0)">
        </div>
    </div>

    <!-- 图片放大div-->
    <div id="rightDisplay" ng-if="bigImage" class="popover-backdrop"  
        style="position: fixed;top: 2px;left: 0;z-index: 10; width: 100%;height: 100%;"  
        ng-click="hideBigImage()">  
        <img class="img-responsive"  on-drag-left="onDragLeft()" on-swipe-right="onSwipeRight()"
            style="position: absolute;top: 10%;left: 50%;z-index: 10;display: block;margin-top: 18px;  
            margin-left: -165px;height: 420px;width: 330px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);"  
            image-lazy-loader="android" image-lazy-src="{{Url}}"/>  
    </div>
    <!--图片信息 end-->
</script>