<!--配件选择弹出层 -->
<div class="modal" ng-if="itemModal">
    <ion-content overflow-scroll="false" has-bouncing="true" lazy-scroll>
        <div class="list mt35">
            <label class="item item-input">
                <span>备注</span><textarea class="text-label w_100 ml10" ng-model="item.remark"></textarea>
            </label>
            <div ng-include="'select_items.html'"></div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <br>
        <p></p>
        <div class="button-bar fs17">
        <a class="button button-clear" ng-click="ok()">确定</a>|
        <a class="button button-clear" ng-click="closeModal()">取消</a>
        </div>
        <p></p>
        <br>
    </ion-footer-bar>
</div>
<!-- 配件选择加载页面 -->
<div ng-if="!itemModal" ng-include="'select_items.html'"></div>


<script id="select_items.html" type="text/ng-template">
    <label class="item item-input">
        配件<input input-select option-name="选择配件" select-list="itemList" callback-option="selectedItem" ng-key="item.cur_select.item_id" ng-model="item.cur_select.name" class="select-style text-label ml10" type="text"  readOnly="true" placeholder="选择配件">
    </label>
    <div>
        <span class="button-bar w_100"><span class="ml16 fs17 mt5">数量</span>
        <a class="button button-stable ion-minus-round ml10" ng-click="itemNumOption('m')"></a>
        <input type="number" class="text-label w_50" style="text-align: center" ng-model="item.cur_select.count">
        <a class="button button-stable ion-plus-round" ng-click="itemNumOption('p')"></a>
        </span>
    </div>
    <label class="item item-input">
        价格<input type="text" class="text-label ml10" ng-model="item.cur_select.price">
    </label>
    <div class="lh50">
        <span class="ml17 fs17">核销</span>
        <input type="radio" class="ml5 w20h20" name="property" value="A" ng-model="item.cur_select.property"><span class="text-label">实核</span>
        <input type="radio" class="ml10 w20h20" name="property" value="B" ng-model="item.cur_select.property"><span class="text-label">虚核</span>
        <span class="ml30 fs17">性质</span>
        <input type="radio" class="ml5 w20h20" name="sell" value="A" ng-model="item.cur_select.sellchannel"><span class="text-label">保内</span>
        <input type="radio" class="ml10 w20h20" name="sell" value="B" ng-model="item.cur_select.sellchannel"><span class="text-label">保外</span>
    </div>
    <div class="text-right"><a class="button button-positive button-small ml10" ng-click="addItem()">添加配件</a></div>
    <div>
        <span class="ml17 fs17 calm">当前选择配件<a class="button button-clear button-small button-positive ml30" ng-click="clearItem()">清空已选配件</a></span>
        <ion-item class="item-text-wrap" ng-repeat="its in item.selected">
        {{its.name}}{{its.mode}}&nbsp;编码:{{its.code}}({{its.price}}元/件,{{its.count}}件,
        <span ng-if="its.property=='A'">实核</span><span ng-if="its.property!='A'">虚核</span>
        <span ng-if="its.sellchannel=='A'">保内</span><span ng-if="its.sellchannel!='A'">保外</span>)
        <!-- <ion-option-button class="button-positive">编辑</ion-option-button> -->
        <ion-option-button class="button-assertive" ng-click="delItem($index)">删除</ion-option-button>
        </ion-item>
    </div>
    <!--<div >
        <span class="ml17 fs17 calm mt35">历史配件</span>
        <ion-item class="item-text-wrap" ng-repeat="oits in oldItems">
        {{oits.name}}{{oits.mode}}&nbsp;编码:{{oits.code}}({{oits.price}}元/件,{{oits.count}}件,
        <span ng-if="oits.property=='A'">实核</span><span ng-if="oits.property!='A'">虚核</span>
        <span ng-if="oits.sellchannel=='A'">保内</span><span ng-if="oits.sellchannel!='A'">保外</span>)
        </ion-item>
    </div>-->
</script>