<ion-view title="我的工单">
  <ion-content overflow-scroll="false" has-bouncing="true" ng-controller="ServiceListCtrl">

    <ion-list>
      <ion-item ng-repeat="service in servicelist" class="item-text-wrap">
        
          <table class="lh25 w_100" ng-click="servicemodify(service)">
            <tr>
              <td align="left" class="w90">维修单号：</td>
              <td align="left">{{service.service_id}}</td>
            </tr>
            <tr>
              <td align="left">工单来源：</td>
              <td align="left" class="calm">{{service.source|transMetadata:metadatas:'SERVICE.SOURCE'}}</td>
            </tr>
            <tr>
              <td align="left">品牌品类：</td>
              <td align="left" class="calm">
                {{service.brand|transMetadata:metadatas:'MACHINE.BRAND'}}
                {{service.category|transMetadata:metadatas:'MACHINE.TYPE'}}
              </td>
            </tr>
            <tr>
              <td align="left">预约时间：</td>
              <td align="left" class="calm">{{service.order_at}}</td>
            </tr>
            <tr>
              <td align="left">客户姓名：</td>
              <td align="left">{{service.user_name}}</td>
            </tr>
            <tr>
              <td align="left">客户地址：</td>
              <td align="left">{{service.user_address}}</td>
            </tr>
          </table>
        
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


