<ion-view title="待处理工单" ng-controller="ServiceModifyCtrl">

  <ion-content overflow-scroll="false" has-bouncing="true" lazy-scroll>
    <table class="item item-input w_100 lh25 item-text-wrap">
      <tr>
        <td align="left" class="w50">姓名：</td>
        <td align="left" class="text-label">{{service.user_name}}</td>
        <td align="left" class="w50">电话：</td>
        <td align="left" class="text-label">{{service.user_tel}}</td>
      </tr>
      <tr>
        <td align="left" class="w50">地址：</td>
        <td align="left" colspan="3" class="text-label">{{service.user_address}}</td>
      </tr>
      <tr>
        <td align="left"><a class="button button-small button-calm" href="tel:{{service.user_tel}}">
          &nbsp;&nbsp;&nbsp;<i class="icon ion-ios-telephone"></i>&nbsp;&nbsp;&nbsp;</a><div>电话</div></td>
        <td align="right"><a class="button button-small button-calm" href="sms:{{service.user_tel}}">
          &nbsp;&nbsp;&nbsp;<i class="icon ion-email"></i>&nbsp;&nbsp;&nbsp;</a><div>短信</div></td>
        <td></td><td></td>
      </tr>
      <tr></tr>
    </table>

    <div class="button-bar bar-stable">
      <a ng-class="{'button button-calm':flags.orderFlag,'button':!flags.orderFlag}" ng-click="flagChange('o')">
        <font class="fs13">工单信息</font></a>
      <a ng-class="{'button button-calm':flags.goodsFlag,'button':!flags.goodsFlag}" ng-click="flagChange('g')">
        <font class="fs13">产品信息</font></a>
      <a ng-class="{'button button-calm':flags.stateFlag,'button':!flags.stateFlag}" ng-click="flagChange('s')">
        <font class="fs13">业务信息</font></a>
      <a ng-class="{'button button-calm':flags.itemFlag,'button':!flags.itemFlag}" ng-click="flagChange('i')">
        <font class="fs13">配件信息</font></a>
    </div>
    <!--工单信息-->
    <div class="list" ng-if="flags.orderFlag">
        <label class="item item-input">
          单号<font class="text-label ml10">{{service.service_id}} </font>
        </label>
        <label class="item item-input">
          工单来源<font class="text-label ml10">{{service.source|transMetadata:metadatas:'SERVICE.SOURCE'}} </font>
          <!--工单来源<input input-select option-name="选择工单来源" select-list="sourceList" ng-key="service.source" ng-model="service.source_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择工单来源">-->
        </label>
        <!--时间信息start-->
        <label class="item item-input">
          受理时间<font class="text-label ml10">{{service.create_at}} </font>
        </label>
        <label class="item item-input">
          到达时间<font class="text-label ml10">{{service.assigned_at}} </font>
          <button class="button button-small button-positive ml10" ng-click="setAssignedAt()">&nbsp;&nbsp;&nbsp;设置&nbsp;&nbsp;&nbsp;</button>
        </label>
        <label class="item item-input">
          <span>预约时间</span>
          <label class=" item-input-inset ml10">
            <label class="item-input-wrapper time-label">
              <input type="text" class="time-label text-label" mydatepicker ng-model="service.order_at_date" after="true" placeholder="选择日期" readOnly="true">
            </label> &nbsp;&nbsp;&nbsp;
            <label class="item-input-wrapper time-label">
              <input type="text" class="time-label text-label" mytimepicker ng-model="service.order_at_time" placeholder="选择时间" readOnly="true">
            </label>
          </label>
        </label>
        <label class="item item-input">
          <span>派单时间</span>
          <label class=" item-input-inset ml10">
            <label class="item-input-wrapper time-label">
              <input type="text" class="time-label text-label" mydatepicker ng-model="service.dispatch_at_date" placeholder="选择日期" readOnly="true">
            </label> &nbsp;&nbsp;&nbsp;
            <label class="item-input-wrapper time-label">
              <input type="text" class="time-label text-label" mytimepicker ng-model="service.dispatch_at_time" placeholder="选择时间" readOnly="true">
            </label>
          </label>
        </label>
        <label class="item item-input">
          购买日期<input type="text" class="time-label text-label ml10" mydatepicker ng-model="service.buy_at" before="true" placeholder="选择日期" readOnly="true">
        </label>
        <!--时间信息end-->
        <label class="item item-input">
          客户姓名<input type="text" class="text-label w_100 ml10" ng-model="service.user_name" placeholder="请输入客户姓名">
        </label>
        <label class="item item-input">
          来电电话<font class="text-label ml10">{{service.call_caller}} </font>
          <a ng-if="service.call_caller" class="button button-light" href="tel:{{service.call_caller}}"><i class="icon ion-ios-telephone"></i></a>
        </label>
        <label class="item item-input">
          客户电话<font class="text-label ml10">{{service.user_tel}} </font>
          <a ng-if="service.user_tel" class="button button-light" href="tel:{{service.user_tel}}"><i class="icon ion-ios-telephone"></i></a>
        </label>
        <label class="item item-input">
          回访号码<font class="text-label ml10">{{service.callback_phone}} </font>
          <a ng-if="service.callback_phone" class="button button-light" href="tel:{{service.callback_phone}}"><i class="icon ion-ios-telephone"></i></a>
        </label>
        <label class="item item-input">
          <span>客户地址</span><textarea class="text-label w_100 ml10" ng-model="service.user_address" placeholder="请输入客户地址"></textarea>
        </label>
        <label class="item item-input">
          <span>问题描述</span><textarea class="text-label w_100 ml10" ng-model="service.content" placeholder="请输入问题描述"></textarea>
        </label>
        <label class="item item-input">
          <span>客户备注</span><textarea class="text-label w_100 ml10" disabled ng-model="service.user_remark"></textarea>
        </label>
    </div>
    <!--产品信息-->
    <div class="list" ng-if="flags.goodsFlag">
      <label class="item item-input">
        产品品牌<input input-select option-name="选择品牌" select-list="brandList" ng-key="service.brand" ng-model="service.brand_value" callback-option="getBrandOrCategory" callback-type="b" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择品牌">
      </label>
      <label class="item item-input">
        产品品类<input input-select option-name="选择品类" select-list="categoryList" ng-key="service.category" ng-model="service.category_value" callback-option="getBrandOrCategory" callback-type="c" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择品类">
      </label>
      <label class="item item-input" ng-if="!modeList || modeList.length<=0">
        产品型号<input type="text" class="text-label w_100 ml10" ng-model="service.model" placeholder="请输入产品型号">
      </label>
      <ion-item ng-if="modeList && modeList.length>0">
        <span class="input-label ">产品型号<font class="text-label">(改前：{{service.model_value}})</font></span>
        <input input-select option-name="选择型号" select-list="modeList" ng-key="service.model2" ng-model="service.model2_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择型号">
      </ion-item>
      <label class="item item-input">
        生产批号<input type="text" class="text-label w_100 ml10" ng-model="service.production_code" placeholder="请输入生产批号">
      </label>
      <div>
        <span class="button-bar w_100"><span class="ml16 fs17 mt5">出厂编码-{{service.qr_code.length}}</span>
          <input type="text" class="text-label w_80 ml10" ng-model="service.qr_code" placeholder="请输入出厂编码">
          <a class="button button-small button-positive mt5 icon ion-qr-scanner" ng-click="scan('qr',0)"></a>
        </span>
      </div>
      <label class="item item-input">
        购机商场<input type="text" class="text-label w_100 ml10" ng-model="service.shop" placeholder="请输入购机商场">
      </label>
      <label class="item item-input">
        发票号<input type="text" class="text-label w_100 ml10" ng-model="service.invoice" placeholder="请输入发票号">
      </label>
      <div>
        <span class="button-bar w_100"><span class="ml16 fs17 mt5">外机条码-{{service.extend1.length}}</span>
          <input type="text" class="text-label w_80 ml10" ng-model="service.extend1" placeholder="请输入外机条码">
          <a class="button button-small button-positive mt5 icon ion-qr-scanner" ng-click="scan('e',1)"></a>
        </span>
      </div>
      <!--品类扩展信息 start-->
      <label class="item item-input" ng-if="categoryExtend.extend2">
        {{categoryExtend.extend2}}
        <input type="text" class="text-label w_100 ml10" ng-model="service.extend2">
          <button ng-if="categoryExtend.extend2scan=='Y'" class="button button-small button-positive mt5" ng-click="scan('e',2)"><i class="icon ion-qr-scanner"></i></button>
      </label>
      <label class="item item-input" ng-if="categoryExtend.extend3">
        {{categoryExtend.extend3}}
        <input type="text" class="text-label w_100 ml10" ng-model="service.extend3">
          <button ng-if="categoryExtend.extend3scan=='Y'" class="button button-small button-positive mt5" ng-click="scan('e',3)"><i class="icon ion-qr-scanner"></i></button>
      </label>
      <label class="item item-input" ng-if="categoryExtend.extend4">
        {{categoryExtend.extend4}}
        <input type="text" class="text-label w_100 ml10" ng-model="service.extend4">
          <button ng-if="categoryExtend.extend4scan=='Y'" class="button button-small button-positive mt5" ng-click="scan('e',4)"><i class="icon ion-qr-scanner"></i></button>
      </label>
      <label class="item item-input" ng-if="categoryExtend.extend5">
        {{categoryExtend.extend5}}
        <input type="text" class="text-label w_100 ml10" ng-model="service.extend5">
          <button ng-if="categoryExtend.extend5scan=='Y'" class="button button-small button-positive mt5" ng-click="scan('e',5)"><i class="icon ion-qr-scanner"></i></button>
      </label>
      <!--品类扩展信息 end-->
      <label class="item item-input"></label>
      <!--图片信息 start-->
      <div image-select old-images="service.attachments" new-images="newImages"></div> 
      <!--图片信息 end-->
    </div>

    <!--业务信息-->
    <div class="list" ng-if="flags.stateFlag">
      <label class="item item-input">
        维修性质<input input-select option-name="选择维修性质" select-list="sellchannelList" ng-key="service.property" ng-model="service.property_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择维修性质">
      </label>
      <label class="item item-input">
        状态<input input-select option-name="选择工单状态" select-list="subStateList" ng-key="service.subState" ng-model="service.subState_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择工单状态">
      </label>
      <label class="item item-input">
        完成度<input input-select option-name="选择完成度" select-list="processList" ng-key="service.process" ng-model="service.process_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择完成度">
      </label>
      <label class="item item-input">
        <span>故障现象</span><textarea rows="2" cols="2" class=" text-label w_100 ml10" ng-model="service.appearance" placeholder="请输入故障现象"></textarea>
      </label>
      <label class="item item-input">
        <span>故障原因</span><textarea rows="2" cols="2" class=" text-label w_100 ml10" ng-model="service.fault_reason" placeholder="请输入故障原因"></textarea>
      </label>
      <label class="item item-input">
        <span>维修措施</span><textarea rows="2" cols="2" class=" text-label w_100 ml10" ng-model="service.result" placeholder="请输入维修措施"></textarea>
      </label>
      <label class="item item-input">
        处理结果<input input-select option-name="选择处理结果" select-list="resultList" ng-key="service.result_type" ng-model="service.result_type_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择处理结果">
      </label>
      <label class="item item-input">
        维修项目<input input-select option-name="选择维修项目" select-list="projectList" ng-key="service.project" ng-model="service.project_value" callback-type="null" class="select-style text-label ml10" type="text" readOnly="true" placeholder="选择维修项目">
      </label>
      <label class="item item-input">
        服务费<input type="number" class=" text-label w_100 ml10" ng-model="service.fee" placeholder="请输入服务费">
      </label>
      <label class="item item-input">
        上门费<input type="number" class=" text-label w_100 ml10" ng-model="service.road_fee" placeholder="请输入上门费">
      </label>
      <label class="item item-input">
        材料费<input type="number" class=" text-label w_100 ml10" ng-model="service.item_fee" placeholder="请输入材料费">
      </label>
      <label class="item item-input">
        远程费<input type="number" class=" text-label w_100 ml10" ng-model="service.remote_fee" placeholder="请输入远程费">
      </label>
      <label class="item item-input">
        搬运费<input type="number" class=" text-label w_100 ml10" ng-model="service.carry_fee" placeholder="请输入搬运费">
      </label>
      <label class="item item-input">
        其他费用<input type="number" class=" text-label w_100 ml10" ng-model="service.other_fee_s" placeholder="请输入其他费用">
      </label>
      <label class="item item-input">
        实收金额<input type="number" class=" text-label w_100 ml10" ng-model="service.fact_fee" placeholder="请输入实收金额">
      </label>
      <label class="item item-input">
        <span>备注</span><textarea class="text-label w_100 ml10" ng-model="service.remark"></textarea>
      </label>

    </div>

    <!--配件信息-->
    <div class="list" ng-if="flags.itemFlag">
        <div item-select item="item"></div> 
    </div>   
    
    <br>
      
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-positive">
    <br>
    <p></p>
    <div class="button-bar fs17">
      <a class="button button-clear" ng-click="modify(2)"><font ng-class="{'energized':modifyFlag.modify}" class="fs13">修改</font></a>|
      <a class="button button-clear" ng-click="modify(1)"><font ng-class="{'energized':modifyFlag.order}" class="fs13">改约</font></a>|
      <a class="button button-clear" itemsel-modal item-modal="{{item}}" callback-option="itemCallback">
        <font ng-class="{'energized':modifyFlag.item}" class="fs13">缺件申请</font>
      </a>|
      <a class="button button-clear" complete-modal ng-obj="{{service}}" callback-option="completeCallback">
        <font ng-class="{'energized':modifyFlag.finish}" class="fs13">完成</font>
      </a>|
      <a class="button button-clear" ng-click="modify(3)"><font ng-class="{'energized':modifyFlag.submit}" class="fs13">提交</font></a>
    </div>
    <p></p>
    <br>
  </ion-footer-bar>
 
</ion-view>
