<ion-view title="待处理工单" ng-controller="ServiceModifyCtrl">

  <ion-content overflow-scroll="false" has-bouncing="true" lazy-scroll>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.orderFlag,'ion-chevron-right':!flags.orderFlag}"
      ng-click="flagChange('o',!flags.orderFlag)">
      <i class="ion-briefcase"></i>&nbsp;工单信息
    </button>
    <ion-list ng-if="flags.orderFlag">
      <ion-item>
        <span class="input-label  ">单号</span>
        <input type="text" class="text-label w_100" disabled ng-model="service.service_id">
      </ion-item>
      <ion-item>
        <span class="input-label ">工单来源</span>
        <input input-select option-name="选择工单来源" select-list="sourceList" ng-key="service.source" ng-model="service.source_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择工单来源">
      </ion-item>
      <ion-item>
        <span class="input-label ">客户姓名</span>
        <input type="text" class="text-label w_100" ng-model="service.user_name" placeholder="请输入客户姓名">
      </ion-item>
      <div class="item">
        <span class="input-label ">来电电话</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" disabled ng-model="service.call_caller">
          <a ng-if="service.call_caller" class="button button-light mt5" href="tel:{{service.call_caller}}"><i class="icon ion-ios-telephone"></i></a>
         </div>
      </div>
      <div class="item">
        <span class="input-label ">客户电话</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" disabled ng-model="service.user_tel">
          <a ng-if="service.user_tel" class="button button-light mt5" href="tel:{{service.user_tel}}"><i class="icon ion-ios-telephone"></i></a>
        </div>
      </div>
      <div class="item">
        <span class="input-label ">回访号码</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" disabled ng-model="service.callback_phone">
          <a ng-if="service.callback_phone" class="button button-light mt5" href="tel:{{service.callback_phone}}"><i class="icon ion-ios-telephone"></i></a>
        </div>
      </div>
      <ion-item>
        <span class="input-label ">客户地址</span>
        <textarea rows="3" cols="2" class="text-label w_100" ng-model="service.user_address" placeholder="请输入客户地址"></textarea>
      </ion-item>
      <ion-item>
        <span class="input-label ">问题描述</span>
        <textarea rows="3" cols="2" class="text-label w_100" ng-model="service.content" placeholder="请输入问题描述"></textarea>
      </ion-item>
      <ion-item>
        <span class="input-label ">客户备注</span>
        <textarea rows="3" cols="2" class="text-label w_100" disabled ng-model="service.user_remark"></textarea>
      </ion-item>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.timeFlag,'ion-chevron-right':!flags.timeFlag}"
      ng-click="flagChange('t',!flags.timeFlag)">
      <i class="ion-clock"></i>&nbsp;时间信息
    </button>
    <ion-list ng-if="flags.timeFlag">
      <ion-item>
        <span class="input-label ">受理时间</span>
        <input type="text" class="text-label w_100" disabled ng-model="service.create_at">
      </ion-item>
      <ion-item>
        <span class="input-label ">到达时间&nbsp;&nbsp;&nbsp;
          <button class="button button-small button-positive" ng-click="setAssignedAt()">&nbsp;&nbsp;&nbsp;设置&nbsp;&nbsp;&nbsp;
        </button></span>
        <input type="text" class="time-label text-label" disabled ng-model="service.assigned_at">
      </ion-item>
      <label class="item">
        <span class="input-label ">预约时间</span>
        <label class=" item-input-inset">
          <label class="item-input-wrapper time-label">
            <input type="text" class="time-label text-label" mydatepicker ng-model="service.order_at_date" after="true" placeholder="选择日期" readOnly="true">
          </label> &nbsp;&nbsp;&nbsp;
          <label class="item-input-wrapper time-label">
            <input type="text" class="time-label text-label" mytimepicker ng-model="service.order_at_time" placeholder="选择时间" readOnly="true">
          </label>
        </label>
      </label>
      <label class="item">
        <span class="input-label ">派单时间</span>
        <label class=" item-input-inset">
          <label class="item-input-wrapper time-label">
            <input type="text" class="time-label text-label" mydatepicker ng-model="service.dispatch_at_date" placeholder="选择日期" readOnly="true">
          </label> &nbsp;&nbsp;&nbsp;
          <label class="item-input-wrapper time-label">
            <input type="text" class="time-label text-label" mytimepicker ng-model="service.dispatch_at_time" placeholder="选择时间" readOnly="true">
          </label>
        </label>
      </label>
      <ion-item>
        <span class="input-label ">购买日期</span>
        <input type="text" class="time-label text-label" mydatepicker ng-model="service.buy_at" before="true" placeholder="选择日期" readOnly="true">
      </ion-item>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.goodsFlag,'ion-chevron-right':!flags.goodsFlag}"
      ng-click="flagChange('g',!flags.goodsFlag)">
      <i class="ion-cube"></i>&nbsp;产品信息
    </button>
    <ion-list ng-if="flags.goodsFlag">
      <ion-item>
        <span class="input-label ">产品品牌</span>
        <input input-select option-name="选择品牌" select-list="brandList" ng-key="service.brand" ng-model="service.brand_value" callback-option="getBrandOrCategory" callback-type="b" class="select-style text-label" type="text" readOnly="true" placeholder="选择品牌">
      </ion-item>
      <ion-item>
        <span class="input-label ">产品品类</span>
        <input input-select option-name="选择品类" select-list="categoryList" ng-key="service.category" ng-model="service.category_value" callback-option="getBrandOrCategory" callback-type="c" class="select-style text-label" type="text" readOnly="true" placeholder="选择品类">
      </ion-item>

      <ion-item ng-if="!modeList || modeList.length<=0">
        <span class="input-label ">产品型号</span>
        <input type="text" class="text-label w_100" ng-model="service.model" placeholder="请输入产品型号">
      </ion-item>
      <ion-item ng-if="modeList && modeList.length>0">
        <span class="input-label ">产品型号<font color="blue">(修改前：{{service.model_value}})</font></span>
        <input input-select option-name="选择型号" select-list="modeList" ng-key="service.model2" ng-model="service.model2_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择型号">
      </ion-item>

      <ion-item>
        <span class="input-label ">生产批号</span>
        <input type="text" class="text-label w_100" ng-model="service.production_code" placeholder="请输入生产批号">
      </ion-item>

      <div class="item">
        <span class="input-label ">出厂编码--{{service.qr_code.length}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.qr_code" placeholder="请输入出厂编码">
          <button class="button button-positive mt5" ng-click="scan('qr',0)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>

      <ion-item>
        <span class="input-label ">购机商场</span>
        <input type="text" class="text-label w_100" ng-model="service.shop" placeholder="请输入购机商场">
      </ion-item>
      <ion-item>
        <span class="input-label ">发票号</span>
        <input type="text" class="text-label w_100" ng-model="service.invoice" placeholder="请输入发票号">
      </ion-item>

      <div class="item">
        <span class="input-label ">外机条码--{{service.extend1.length}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.extend1">
          <button class="button button-positive mt5" ng-click="scan('e',1)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>
      <!--品类扩展信息 start-->
      
      <div class="item" ng-if="categoryExtend.extend2">
        <span class="input-label ">{{categoryExtend.extend2}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.extend2">
          <button ng-if="categoryExtend.extend2scan=='Y'" class="button button-positive mt5" ng-click="scan('e',2)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>
      <div class="item" ng-if="categoryExtend.extend3">
        <span class="input-label ">{{categoryExtend.extend3}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.extend3">
          <button ng-if="categoryExtend.extend3scan=='Y'" class="button button-positive mt5" ng-click="scan('e',3)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>
      <div class="item" ng-if="categoryExtend.extend4">
        <span class="input-label ">{{categoryExtend.extend4}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.extend4">
          <button ng-if="categoryExtend.extend4scan=='Y'" class="button button-positive mt5" ng-click="scan('e',4)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>
      <div class="item" ng-if="categoryExtend.extend5">
        <span class="input-label ">{{categoryExtend.extend5}}</span>
        <div class="item-button-right" style="border: solid 0px;">
          <input type="text" class="text-label w_100" ng-model="service.extend5">
          <button ng-if="categoryExtend.extend5scan=='Y'" class="button button-positive mt5" ng-click="scan('e',5)"><i class="icon ion-qr-scanner"></i></button>
        </div>
      </div>
      <!--品类扩展信息 end-->
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.stateFlag,'ion-chevron-right':!flags.stateFlag}"
      ng-click="flagChange('s',!flags.stateFlag)">
      <i class="ion-information-circled"></i>&nbsp;状态信息
    </button>
    <ion-list ng-if="flags.stateFlag">
      <ion-item>
        <span class="input-label ">维修性质</span>
        <input input-select option-name="选择维修性质" select-list="sellchannelList" ng-key="service.property" ng-model="service.property_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择维修性质">
      </ion-item>
      <ion-item>
        <span class="input-label ">状态</span>
        <input input-select option-name="选择工单状态" select-list="subStateList" ng-key="service.subState" ng-model="service.subState_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择工单状态">
      </ion-item>
      <ion-item>
        <span class="input-label ">完成度</span>
        <input input-select option-name="选择完成度" select-list="processList" ng-key="service.process" ng-model="service.process_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择完成度">
      </ion-item>
      <ion-item>
        <span class="input-label ">故障现象</span>
        <textarea rows="3" cols="2" class=" text-label w_100" ng-model="service.appearance" placeholder="请输入故障现象"></textarea>
      </ion-item>
      <ion-item>
        <span class="input-label ">故障原因</span>
        <textarea rows="3" cols="2" class=" text-label w_100" ng-model="service.fault_reason" placeholder="请输入故障原因"></textarea>
      </ion-item>
      <ion-item>
        <span class="input-label ">维修措施</span>
        <textarea rows="3" cols="2" class=" text-label w_100" ng-model="service.result" placeholder="请输入维修措施"></textarea>
      </ion-item>
      <ion-item>
        <span class="input-label ">处理结果</span>
        <input input-select option-name="选择处理结果" select-list="resultList" ng-key="service.result_type" ng-model="service.result_type_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择处理结果">
      </ion-item>
      <ion-item>
        <span class="input-label ">维修项目</span>
        <input input-select option-name="选择维修项目" select-list="projectList" ng-key="service.project" ng-model="service.project_value" callback-type="null" class="select-style text-label" type="text" readOnly="true" placeholder="选择维修项目">
      </ion-item>
      <ion-item>
        <span class="input-label ">服务费</span>
        <input type="number" class=" text-label w_100" ng-model="service.fee" placeholder="请输入服务费">
      </ion-item>
      <ion-item>
        <span class="input-label ">上门费</span>
        <input type="number" class=" text-label w_100" ng-model="service.road_fee" placeholder="请输入上门费">
      </ion-item>
      <ion-item>
        <span class="input-label ">材料费</span>
        <input type="number" class=" text-label w_100" ng-model="service.item_fee" placeholder="请输入材料费">
      </ion-item>
      <ion-item>
        <span class="input-label ">远程费</span>
        <input type="number" class=" text-label w_100" ng-model="service.remote_fee" placeholder="请输入远程费">
      </ion-item>
      <ion-item>
        <span class="input-label ">搬运费</span>
        <input type="number" class=" text-label w_100" ng-model="service.carry_fee" placeholder="请输入搬运费">
      </ion-item>
      <ion-item>
        <span class="input-label ">其他费用</span>
        <input type="number" class=" text-label w_100" ng-model="service.other_fee_s" placeholder="请输入其他费用">
      </ion-item>
      <ion-item>
        <span class="input-label ">实收金额</span>
        <input type="number" class=" text-label w_100" ng-model="service.fact_fee" placeholder="请输入实收金额">
      </ion-item>
      <ion-item>
        <span class="input-label ">备注</span>
        <textarea rows="3" cols="2" class="text-label w_100" disabled ng-model="service.remark"></textarea>
      </ion-item>
    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.itemFlag,'ion-chevron-right':!flags.itemFlag}"
      ng-click="flagChange('i',!flags.itemFlag)">
      <i class="ion-settings"></i>&nbsp;配件信息
    </button>
    <ion-list ng-if="flags.itemFlag">
      <ion-item>
        <span class="input-label ">配件</span>
        <input input-select option-name="选择配件" select-list="itemList" callback-option="selectedItem" ng-key="item.cur_select.item_id" ng-model="item.cur_select.name" class="select-style text-label" type="text"  readOnly="true" placeholder="选择配件">
      </ion-item>

      <span class="input-label ">&nbsp;&nbsp;&nbsp;&nbsp;数量</span>
      <div class="button-bar w_100">
        <a class="button button-stable ion-minus-round" ng-click="itemNumOption('m')"></a>
        <input type="number" class="text-label w_50" style="text-align: center" ng-model="item.cur_select.count">
        <a class="button button-stable ion-plus-round" ng-click="itemNumOption('p')"></a>
      </div>

      <label class="item item-input-inset">
        &nbsp;价格&nbsp;&nbsp;&nbsp;       
        <input type="text" class="text-label" ng-model="item.cur_select.price">
      </label>
      <div class="lh30">
        <span class="ml17 fs17">核销</span>
        <input type="radio" class="ml5" name="property" value="A" ng-model="item.cur_select.property"><span class="text-label">实核</span>
        <input type="radio" class="ml10" name="property" value="B" ng-model="item.cur_select.property"><span class="text-label">虚核</span>
        <div>
          <span class="ml17 fs17">性质</span>
          <input type="radio" class="ml5" name="sell" value="A" ng-model="item.cur_select.sellchannel"><span class="text-label">保内</span>
          <input type="radio" class="ml10" name="sell" value="B" ng-model="item.cur_select.sellchannel"><span class="text-label">保外</span>
        </div>
        <div class="text-right"><a class="button button-positive button-small ml10" ng-click="addItem()">添加配件</a></div>
      </div>
      <div>
        <span class="ml17 fs17 calm">当前选择配件<a class="button button-clear button-small button-positive ml30" ng-click="clearItem()">清空已选配件</a></span>
        <ion-item class="item-text-wrap" ng-repeat="its in item.selected">
          {{its.name}}{{its.mode}}&nbsp;编码:{{its.code}}({{its.price}}元/件,{{its.count}}件,
          <span ng-if="its.property=='A'">实核</span><span ng-if="its.property!='A'">虚核</span>
          <span ng-if="its.sellchannel=='A'">保内</span><span ng-if="its.sellchannel!='A'">保外</span>)
          <!-- <ion-option-button class="button-positive">编辑</ion-option-button> -->
          <ion-option-button class="button-assertive" ng-click="delItem($index)">删除</ion-option-button>
        </ion-item>
      </div>
      <!--<div >
        <span class="ml17 fs17 calm mt35">历史配件</span>
        <ion-item class="item-text-wrap" ng-repeat="oits in oldItems">
          {{oits.name}}{{oits.mode}}&nbsp;编码:{{oits.code}}({{oits.price}}元/件,{{oits.count}}件,
          <span ng-if="oits.property=='A'">实核</span><span ng-if="oits.property!='A'">虚核</span>
          <span ng-if="oits.sellchannel=='A'">保内</span><span ng-if="oits.sellchannel!='A'">保外</span>)
        </ion-item>
      </div>-->

    </ion-list>

    <button class="button button-block button-calm icon-right" ng-class="{'ion-chevron-down':flags.pictureFlag,'ion-chevron-right':!flags.pictureFlag}"
      ng-click="flagChange('p',!flags.pictureFlag)">
      <i class="ion-images"></i>&nbsp;上传图片
    </button>
    <ion-list ng-if="flags.pictureFlag">
      <div class="text-right">
        <a class="button button-assertive button-small" ng-click="clearImage()">清空图片</a>
        <a class="button button-positive button-small ml10" ng-click="choosePicMenu()">选择图片</a>
      </div>
      <span ng-if="newImages && newImages.length > 0" class="calm">新上传图片</span>
      <div class="list card" ng-repeat="im in newImages">
        <div class="item item-image" style="height:100px;">
          <img class="image-loader-container" image-lazy-loader="android" ng-src="{{im.imageURI}}"  ng-click="shouBigImage(im.imageURI,$index,1)">
        </div>
        <a class="item item-icon-left assertive" ng-click="delImage($index)">
          <i class="icon ion-trash-a"></i> 删除
        </a>
      </div>
      <span ng-if="service.attachments && service.attachments.length > 0" class="calm">原保留图片</span>
      <div class="list card" ng-repeat="ima in service.attachments">
        <div class="item item-image" style="height:100px;">
          <img class="image-loader-container" image-lazy-loader="android" image-lazy-src="{{imageUrl}}{{ima.name}}{{imageParams}}" ng-click="shouBigImage(imageUrl+ima.name+imageParams,$index,0)">
        </div>
      </div>

    </ion-list>
    
    <br>
      
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-stable">
    <br>
    <div class="buttons">
      &nbsp;<button class="button" ng-click="cancel()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-balanced" ng-click="ok(2)">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;
      <button class="button button-assertive" ng-click="ok(1)">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>&nbsp;
    </div>
  </ion-footer-bar>
  <!-- 图片放大div-->
  <div id="rightDisplay" ng-if="bigImage" class="popover-backdrop"  
     style="position: fixed;top: 2px;left: 0;z-index: 10; width: 100%;height: 100%;"  
     ng-click="hideBigImage()">  
    <img class="img-responsive"  on-drag-left="onDragLeft()" on-swipe-right="onSwipeRight()"
         style="position: absolute;top: 10%;left: 50%;z-index: 10;display: block;margin-top: 18px;  
         margin-left: -165px;height: 420px;width: 330px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);"  
          image-lazy-loader="android" image-lazy-src="{{Url}}"/>  
  </div>

</ion-view>
