<ion-view title="工单列表" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <!--
        <ion-tab title="未预约" icon="ion-document" href="#/app/service/list3/3" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="今天" icon="ion-document" href="#/app/service/list4/4" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        -->
        <ion-tab title="待处理" icon="ion-document" href="#/app/service/list/B" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
