<ion-view title="E服务手机端登录系统" ng-controller="LoginCtrl">
    <ion-content padding="true" class="has-header">

        <form class="list">
            <button class="button button-full button-calm">E服务手机端登录系统</button>
            <ion-list id="login-list1">
                <label class="item item-input">
                    <span class="input-label">网点标识</span>
                    <input type="text"  ng-model="user.tenant_id">
                </label>
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" ng-model="user.login_account">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password"  ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 50px;"></div>
            <ion-checkbox ng-model="isChecked">记住用户名和密码</ion-checkbox>
            <div class="spacer text-center" style="height: 20px;"></div>
            <div class="spacer text-center" style="height: 20px;" ng-if="loginFlag.loginIcon">
                <ion-spinner icon="android"></ion-spinner>
            </div>
            <button class="button button-full button-royal" ng-click="login()">登录</button>
            
        </form>
    </ion-content>
</ion-view>
