<ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21" ng-controller="MenuCtrl">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                  <button class="button button-icon button-clear ion-log-out" menu-toggle="right" ng-click="logout()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-stable">
                <div class="title">请选择</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list id="menu-list4" data-componentid="list4">
                    <ion-item ng-click="sysData('S')">
                        <i class="ion-briefcase"></i>&nbsp;&nbsp;工单数据刷新</ion-item>
                    <ion-item ng-click="sysData('B')" class="ion-gear-a">
                        &nbsp;&nbsp;基础数据同步</ion-item>
                    <ion-item ng-click="sysData('I')" class="ion-settings">
                        &nbsp;&nbsp;配件数据同步</ion-item>
                    <ion-item ng-click="sysData('G')" class="ion-cube">
                        &nbsp;&nbsp;产品数据同步</ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
