<ion-view title="E服务手机端登录系统" ng-controller="InitCtrl">
    <ion-content padding="true" class="has-header">
        <div style="text-align: center" class="calm"><font size="3">欢迎使用E服务手机端管理系统</font></div>
      <div style="text-align: center;margin-top: 90px;"><font color="blue" size="57">欢迎使用</font></div>
    </ion-content>
</ion-view>
