/* Empty. Add your own CSS if you like */
.select-style {
  width:95%;
  height:30px;
  margin-top:6px;
  border: solid 0px;
  appearance:none !important;
  -moz-appearance:none !important;
  -webkit-appearance:none !important; 
  background: url("../img/pull-down.png") no-repeat scroll right center transparent !important;
}

.scan-style {
  width:95%;
  height:30px;
  margin-top:6px;
  border: solid 0px;
  appearance:none !important;
  -moz-appearance:none !important;
  -webkit-appearance:none !important; 
  background: url("../img/scan.png") no-repeat scroll right center transparent !important;
}

.time-label{
    background-color:white !important;
}
.text-label{
    color:blue !important;
}
.text-center{
  text-align:center
}
.text-right{
  text-align:right
}

.lh25 {
  line-height:25px
}
.lh30 {
  line-height:30px
}
.lh50 {
  line-height:50px
}

.ml5{
  margin-left:5px !important;
}
.ml10{
  margin-left:10px !important;
}
.ml16{
  margin-left:16px !important;
}
.ml17{
  margin-left:17px !important;
}
.ml30{
  margin-left:30px !important;
}

.mt5{
  margin-top:5px !important;
}
.mt35{
  margin-top:35px !important;
}

.fs13{
  font-size:13px;
}
.fs17{
  font-size:17px;
}

.w50{width:50px}
.w90{width:90px}
.w_50{
  width:50%;
}
.w_80{
  width:80%;
}
.w_100{
  width:100%;
}
.w20h20{
  width:20px;height:20px;
}

/*
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: blue;
}
input:-moz-placeholder, textarea:-moz-placeholder {
　color:blue;
}
input::-moz-placeholder, textarea::-moz-placeholder {
　color:blue;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
　color:blue;
}*/